                    <div class="content_layout u-grid-custom featured_work">
                        <div class="content_wrap u-column-span-10 featured_work"
                            style="grid-column: 1 / -1; width: 100%; max-width: 100%;">
                            <div class="div-block">
                                <div class="featured_nav_wrap">
                                    <div class="slider__overlay-count" style="visibility: hidden;">
                                        <div class="slider__count-col">
                                            <h2 data-slide-count="step" class="slider__count-heading u-text-style-h2">01
                                            </h2>
                                        </div>
                                        <div class="slider__count-divider u-text-style-h2">/</div>
                                        <div class="slider__count-col">
                                            <h2 data-slide-count="total" class="slider__count-heading u-text-style-h2">
                                                16</h2>
                                        </div>
                                    </div>
                                    <div class="slider__overlay-nav">
                                        <!--$--><button aria-label="previous slide" data-slider-button="prev"
                                            class="slider__btn"><!--$--><svg data-wf--arrow-slider--variant="left"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none"
                                                class="u-svg is-arrow"><!--$-->
                                                <path
                                                    d="M18.4333 25.3335L25.9 32.8002L24 34.6668L13.3333 24.0002L24 13.3335L25.9 15.2002L18.4333 22.6668H34.6667V25.3335H18.4333Z"
                                                    fill="currentColor"></path><!--/$-->
                                            </svg><!--/$--></button>
                                        <!--/$-->
                                        <!--$--><button aria-label="previous slide" data-slider-button="next"
                                            class="slider__btn"><!--$--><svg data-wf--arrow-slider--variant="right"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none"
                                                class="u-svg is-arrow w-variant-9a3880ca-78b3-c29e-d271-254083e0fa34"><!--$-->
                                                <path
                                                    d="M18.4333 25.3335L25.9 32.8002L24 34.6668L13.3333 24.0002L24 13.3335L25.9 15.2002L18.4333 22.6668H34.6667V25.3335H18.4333Z"
                                                    fill="currentColor"></path><!--/$-->
                                            </svg><!--/$--></button>
                                        <!--/$-->
                                    </div>
                                </div>
                                <div class="place_holder u-display-none-medium"></div>
                                <div class="featured_content_text">
                                    <h2 class="featured_content_heading u-text-style-h3">See <span
                                            class="hide_word u-display-none-small"> our </span> results </h2>
                                    <p class="featured_content_subheading u-text-style-large">(<span
                                            class="hide_word u-display-none-small">Real clients</span> Real growth.)
                                    </p>
                                    <!--$-->
                                    <div data-wf--button-main--variant="secondary" data-button=" "
                                        data-trigger="hover focus" class="button_main_wrap u-margin-top-6">
                                        <!--$-->
                                        <div class="clickable_wrap u-cover-absolute"><a aria-label="Our work" target=""
                                                href="/work" class="clickable_link w-inline-block"></a></div>
                                        <!--/$-->
                                        <div class="button_main_element w-variant-e85564cd-af30-a478-692b-71732aefb3ab">
                                            <div aria-hidden="true"
                                                class="button_main_text u-text-style-main-medium w-variant-e85564cd-af30-a478-692b-71732aefb3ab">
                                                Case Studies</div>
                                            <div class="button_main_icon u-hide-if-empty"></div>
                                            <div class="button_main_line"></div>
                                        </div>
                                    </div>
                                    <!--/$-->
                                </div>
                            </div>
                            <div class="slider_film_strip">
                                <div class="holes_wrap">
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                </div>
                                <div class="w-dyn-list">
                                    <div data-slider="list" role="list" class="slider__list w-dyn-items">
                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/windmill-healthcare-3x4.png"
                                                        alt="Windmill Healthcare" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Windmill Healthcare" target=""
                                                            href="/project/windmill-healthcare"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Windmill Healthcare </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Healthcare</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div data-bunny-background-init=""
                                                    data-player-src="https://vz-5d3a8c6b-e14.b-cdn.net/7acee1e2-b58a-4970-94e5-e79afe55f495/playlist.m3u8"
                                                    data-player-status="idle" data-player-lazy="false"
                                                    data-player-autoplay="true" data-player-activated="false" id=""
                                                    class="project_reel_wrap u-order-auto-small">
                                                    <div class="code-embed w-embed">
                                                        <style>
                                                            /* Animation */
                                                            [data-bunny-background-init] :is(.bunny-bg__placeholder, .bunny-bg__loading) {
                                                                transition: opacity 0.3s linear, visibility 0.3s linear;
                                                            }

                                                            /* Placeholder */
                                                            [data-bunny-background-init][data-player-status="playing"] .bunny-bg__placeholder,
                                                            [data-bunny-background-init][data-player-status="paused"] .bunny-bg__placeholder,
                                                            [data-bunny-background-init][data-player-activated="true"][data-player-status="ready"] .bunny-bg__placeholder {
                                                                opacity: 0;
                                                                visibility: hidden;
                                                            }
                                                        </style>
                                                    </div>
                                                    <!--$--><video preload="auto" width="1920" height="1080"
                                                        playsinline="playsinline" muted=""
                                                        class="bunny-bg__video"></video>
                                                    <!--/$-->
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Clarity Investigations" target=""
                                                            href="/project/clarity-investigations"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Clarity Investigations </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Private Practice </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/cork-demolitions-3x4.png"
                                                        alt="Cork Demolitions" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Cork Demolitions" target=""
                                                            href="/project/cork-demolitions"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Cork Demolitions </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Demolitions </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/smart-roofing-3x4.png"
                                                        alt="Smart Roofing" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Smart Roofing" target=""
                                                            href="/project/smart-roofing"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Smart Roofing </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Roofing Contractor </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/cork-demolitions-3x4.png"
                                                        alt="Cork Demolitions" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Cork Demolitions" target=""
                                                            href="/project/cork-demolitions"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Cork Demolitions </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Demolition Specialists </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/cork-safety-services-3x4.png"
                                                        alt="Cork Safety Services" loading="lazy"
                                                        class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Cork Safety Services" target=""
                                                            href="/project/cork-safety-services"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Cork Safety Services </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Safety Training </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/fortis-financial-3x4.png"
                                                        alt="Fortis Financial Management" loading="lazy"
                                                        class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Fortis Financial" target=""
                                                            href="/project/fortis-financial-management"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Fortis Financial </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Financial Management </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/primtac-personnel-3x4.png"
                                                        alt="Primtac Personnel" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Primtac Personnel" target=""
                                                            href="/project/primtac-personnel"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Primtac Personnel </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Recruitment Agency </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/revolution-roofing-3x4.png"
                                                        alt="Revolution Roofing" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Revolution Roofing" target=""
                                                            href="/project/revolution-roofing"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Revolution Roofing </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Roofing Contractor </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/blackwater-property-investments-3x4.png"
                                                        alt="Blackwater Property Investments" loading="lazy"
                                                        class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Blackwater Property" target=""
                                                            href="/project/blackwater-property-investments"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Blackwater Property </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Investments </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/kevin-okeeffe-business-coach-3x4.png"
                                                        alt="Kevin O'Keeffe" loading="lazy" class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View Kevin O'Keeffe" target=""
                                                            href="/project/kevin-okeeffe"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            Kevin O'Keeffe </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Launch &amp; SEO </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-slider="slide" role="listitem" class="slider__slide w-dyn-item">
                                            <div class="slider__slide-inner">
                                                <!--$-->
                                                <div class="project_reel_wrap u-order-auto-small">
                                                    <img src="https://blackwatercdn.b-cdn.net/Case%20studies%20thumbnails/blackbird-ballycotton-3x4.png"
                                                        alt="The Blackbird Ballycotton" loading="lazy"
                                                        class="bunny-bg__video"
                                                        style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" />
                                                </div>
                                                <!--/$-->
                                                <div class="slide__caption">
                                                    <!--$-->
                                                    <div class="clickable_wrap u-cover-absolute"><a
                                                            aria-label="View The Blackbird Ballycotton" target=""
                                                            href="/project/blackbird-ballycotton"
                                                            class="clickable_link w-inline-block"></a></div>
                                                    <!--/$-->
                                                    <!--$-->
                                                    <div data-button=" " data-trigger="hover focus"
                                                        class="button_view_wrap">
                                                        <div class="button_view_element">
                                                            <div aria-hidden="true"
                                                                class="button_view_text u-text-style-small">VIEW</div>
                                                        </div>
                                                    </div>
                                                    <!--/$-->
                                                    <div class="showreel_overlay_content is-project">
                                                        <h3
                                                            class="showreel_overlay_title_project u-text-style-main-bold">
                                                            The Blackbird Ballycotton </h3>
                                                        <div class="showreel_subtitle_wrap">
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                for</p>
                                                            <p
                                                                class="showreel_overlay_subtitle u-text-style-small-medium">
                                                                Pub &amp; Music Venue </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="holes_wrap">
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                    <div class="hole"></div>
                                </div>
                            </div>
                        </div>
                    </div>